.workcard {
  padding: 8px;
  width: 45%;
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.worklogo {
  height: 80px;
}

.workinfo {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.workdates {
  color: gray;
}
.workdes {
  text-align: left;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: horizontal;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 80%;
}

@media only screen and (max-width: 720px) {
  .workcard {
    width: 100%;
  }
}
